<form action="/urls" method="POST" class="form-inline my-2 my-lg-0">
  <label for="longURL"></label>
  <input class="form-control mr-sm-2" id="longURL" type="url" name="longURL" placeholder="Your Original URL">
  <button type="submit" class="btn btn-info my-2 my-sm-0" data-toggle="tooltip" data-placement="right" title="Include 'http://'" value="Submit">Shorten URL</button>
</form>
