<form class="form-inline my-2 my-lg-0" action="/login" method="POST">
  <label for="email"></label>
  <input class="form-control mr-sm-2" id="email" type="email" name="email" placeholder="moogs@tinyurl.ca">
  <label for="password"></label>
  <input class="form-control mr-sm-2" id="password" type="password" name="password" placeholder="******">
  <button  class="btn btn-success my-2 my-sm-0" value="Submit">Login</button>
</form>
