<!-- Public list -->
<div class="list-group">
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>tinyAPP</th>
        <th>Target</th>
      </tr>
      <%for (var key in publicUrls) {%>
      <tr>
        <td><a href="/u/<%=publicUrls[key]['shortURL']%>"> <%=publicUrls[key]['shortURL']%> </a></td>
        <td><a href="<%=publicUrls[key]['url']%>"><%=publicUrls[key]['url']%></a></td>
    </tr>
    <%};%>
  <tbody>
</table>
