<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/_header %>
    </head>
    <body>
        <% include ./partials/_nav %>
        <div class="jumbotron" style="  background: url('./imgs/jumbotron.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;">
            <div class="container">
                <h1> Tiny URL</h1>
                <h4>Shorten any url!</h4>
                 <% include ./partials/_form %>
            </div>
        </div>
        <div class="page-header">
            <h1 class="text-center">Last Used TinyURLs</h1>
        </div>
        <div class="content">
            <div class="container">
                <ul class="list-group">
                    <%for(key in urls){%>
                    <li class="list-group-item text-center"><%=key%> -- <a href="<%=key[urls]%>"><%=urls[key]%></a></li>
                    <%};%>
                </ul>
            </div>
        </div>
    </body>
</html>
