<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/_header %>
</head>
    </head>
    <body>
        <% include ./partials/_nav %>
        <div class="jumbotron" style="
                                    background: url('/imgs/jumbotron.jpg') no-repeat center center fixed;
                                    -webkit-background-size: cover;
                                    -moz-background-size: cover;
                                    -o-background-size: cover;
                                    background-size: cover;
                                    padding: 10em;">
            <div class="container">
                <h1 style="
                        text-shadow: 2px 2px 8px black;
                        color:#ffffff;">
                    Shorten Any URL!
                </h1>
                <%if(username){%>
                    <% include ./partials/_form %>
                <%}else {%>
                    <h2 style="color:#ffffff;">
                        Log in to get short!
                    </h2>
                    <% include ./partials/_login %>
                <%};%>
            </div>
        </div>
        <%if(username){%>
        <div class="page-header">
            <h1 class="text-center">Personal URLS</h1>
        </div>
        <div class="content">
            <div class="container">
                <% include ./partials/_urlList %>
                <h2 class="text-center">Public URLS</h2>
                <% include ./partials/_publicList %>
            <%};%>
            </div>
        </div>
    </body>
</html>


