<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/_header %>
    </head>
    <body>
        <% include ./partials/_nav %>
        <div class="jumbotron" style="  background: url('./imgs/jumbotron.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;">
            <div class="container">
                <h1> Tiny URL</h1>
                <h4>Shorten any url!</h4>
                <% include ./partials/_form %>
            </div>
        </div>
        <div class="page-header">
            <h1 class="text-center">Last Used TinyURLs</h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="list-group">
                    <table class="table">
                        <thead class="thead-default">
                            <tr>
                                <th>tinyURL</th>
                                <th>Target</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(key in urls){%>
                            <tr>
                                <td><a href="urls/<%=key%>"><%=key%></a></td>
                                <td><a href="<%=urls[key]%>"><%=urls[key]%></a></td>
                                <td>Options</td>
                                <%};%>
                            </tr>
                            <tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </body>
        </html>
